<html>
  <head>
    <script src="../pasteable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="PasteCtrl.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="PasteApp" ng-controller="PasteCtrl">
    <h4>Simple Grid Example</h4>
    <input type="text" placeholder="Ordinary text input"/>
    <div id="faux_input">Div using pasteable</div>
    <div id="my_element">Click and Paste Tab-Delimited Text Here
      <table id="my_grid">
        <tr ng-repeat="row in grid_data track by $index">
          <td ng-repeat="col in row track by $index">{{col}}</td>
        </tr>
      <table>
    </div>
  </body>
</html>