body{
  font-family: sans-serif;
}

#my_element{
  border: .5px solid #bfbfbf;
  font-size: .75em;
  margin-top: 6px;
  padding: 3px;
  text-align: center;
  overflow: auto;
  display: inline-block
}

#my_grid{
  border: 1px solid #eee;
}

#my_grid td{
  border: 1px solid #eee;
  font-size:.7em;
}

#faux_input{
  color:grey;
  font-size:.7em;
  border:.5px solid silver;
  padding:3px;
  width:120px;
  margin-top:6px;
}